<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <head>
        <title>
            Play CAH
        </title>
        <script src="js/utils.js"></script>
        <script src="js/play.js"></script>
        <style>

a {
    color: #000;
}

body {
    color: #fff;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

table>tr {
    background-color: #fff;
}

button {
    font-size: 110%;
}

table {
    font-size: 125%;
}

.selected {
    background-color: #aaa;
}

        </style>
    </head>
    <body>
        <h2>Selecione {{ pick_text }}</h2>
        <p hidden="1" id="pick">{{ pick }}</p>
        <table id="cards_table", border="1">
        </table>
        <br>
        <button onclick="clearSelection();">Limpar Seleção</button>
        <br>
        <br>
        <footer>
            Jogador: {{ player_name }} <br>
            Pontos: <span id="points"></span>
        </footer>
    </body>
</html>
