<html>
    <meta charset="UTF-8">
    <head>
        <title>
            CAH Server
        </title>
        <script src="js/server.js"></script>
        <style>

a {
    color: #fff;
    text-decoration: none;
}

body {
    color: #fff;
    background-color: #000;
    text-align: center;
}
        </style>
    </head>
    <body>
        <h1 id="h1"></h1>
        <h2 id="h2"></h2>
        <h3 id="h3"></h3>
        <footer>
            <table id="points_table" border="1">
            </table>
        </footer>
    </body>
</html>
