<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <head>
        <title>
            Vote CAH
        </title>
        <script src="js/vote.js"></script>
        <style>

a {
    color: #000;
}

body {
    background-color: #000;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

table tr {
    background-color: #fff;
}

.selected td {
    background-color: #aaa;
}

        </style>
    </head>
    <body>
        {% for option in options %}
        <a href="javascript:void(0);"
           onclick="voteOption({{ loop.index0 }});">
            <table id="option_table_{{ loop.index0 }}", border="1">
                {% for card in option %}
                <tr>
                    <td>
                        {{ card }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </a>
        <br>
        {% endfor %}
    </body>
</html>
